<ion-content class="padding" style="margin-top: 43px;">
    <h2>Welcome to Shop Lab!</h2>
    <form role="form">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="email" name="email" ng-model="loginForm.email" required="required" class=""/>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" name="password" ng-model="loginForm.password" required="required" class=""/>
            </label>
        </div>

        <button ng-click="handleLoginBtnClick(loginForm)" type="submit" class="button button-block button-calm">Sign In</button>
        <h4>Not a Member?</h4>
        <a href ng-click="st.navigate('/signup')" class="">Sign Up</a>
    </form>
</ion-content>