<ion-content scroll="true" ng-init="init()">
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list can-swipe="true">
        <ion-item ng-repeat="task in tasks" ng-click="toggle(task)" class="item-thumbnail-left">
            <img ng-src="http://placehold.it/80?text={{task.owner | limitTo: 1 | uppercase}}" style="border-radius: 50%;"></img>
            <h2 class="item-title" ng-class="{'done': task.done}">{{task.name}}</h2>
            <p class="item-info">{{task.created_at | date: 'short'}}</p>
            <ion-option-button class="button-assertive"
                       ng-click="deleteTask(task)">Delete
            </ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer-bar align-title="center" class="bar-calm"  ng-click="newTask()">
  <h1 class="title">New Item</h1>
  <div class="buttons">
  </div>
</ion-footer-bar>

<script id="new-task.html" type="text/ng-template">

    <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Item</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Write it down..." ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Item</button>
        </div>
      </form>

    </ion-content>
    </div>
</script>